# Variables

Rules are same as python and C

# Predefined Constant

In [1]:
pi

[1] 3.141593

In [2]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [3]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [4]:
month.name

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [5]:
month.abb

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

# DataTypes

    Logical :- TRUE, FALSE
    Integer :- All Integer
    Numeric :- Real Numbers
    Complex :- Complex Num
    Character :- "a","b","@","#","1","2" etc...

In [6]:
typeof(5)

[1] "double"

In [7]:
typeof("a")

[1] "character"

In [10]:
is.double(5)

[1] TRUE

In [11]:
is.double("a")

[1] FALSE

In [12]:
as.complex("5")

[1] 5+0i

In [13]:
as.numeric("567")

[1] 567

# Vectors
    vector : an ordered collection of basic data types of given length
    All the elements of a vector must be of same data type  . ## Doubt

In [14]:
X = c(4,5,8,7,9,41)

In [15]:
X

[1]  4  5  8  7  9 41

In [16]:
print(X)

[1]  4  5  8  7  9 41

In [20]:
X = x(4,5,8,7,9,41,"ijkl")

In [22]:
c(4,5,8,7,9,41,"ijkl")

[1] "4"    "5"    "8"    "7"    "9"    "41"   "ijkl"

# Lists
    A generic object consisting of an ordered collection of objects
    A list could consist of numeric vector, a logical value, a matrix, a complex vector, a character array. a function and so on

In [18]:
x = c("ujjwal",9)

In [19]:
x

[1] "ujjwal" "9"

In [24]:
id = c(1,4,8,2,4,1)

In [25]:
emp.name = c("Abc","fbv","kjdv","vjk","vkf","jvh")

In [26]:
num.emp = 4

In [27]:
emp.list = list(id,emp.name,num.emp)

In [29]:
print(emp.list)

[[1]]
 [1] 1 4 8 7 3 5 9 2 4 1

[[2]]
[1] "Abc"  "fbv"  "kjdv" "vjk"  "vkf"  "jvh"

[[3]]
[1] 4

# Accessing Components (by names)
    1. All the components of a list can be named
    2. These components can be accessed using the given names

In [34]:
emp.list = list("ID"=id,
               "NAMES"=emp.name,
               "Total Staff"=num.emp
               )

In [36]:
print(emp.list$NAMES)

[1] "Abc"  "fbv"  "kjdv" "vjk"  "vkf"  "jvh"

In [37]:
print(emp.list[1])

$ID
 [1] 1 4 8 7 3 5 9 2 4 1

In [44]:
print(emp.list[2])
print(emp.list[[2]][[1]])

$NAMES
[1] "Abc"  "fbv"  "kjdv" "vjk"  "vkf"  "jvh"

[1] "Abc"

In [40]:
print(emp.list[0])

named list()

In [41]:
print(emp.list[3])

$`Total Staff`
[1] 4