# DataFrames
 
 #### Defination :- Data frames are generic data objects of R, used to store tabular data

In [22]:
v1=c(1,2,3,5,6)

In [23]:
v2=c("python","c","react","native","html")

In [24]:
v3=c("python","c","react","native","html")

In [25]:
v4=c("best","good","average","vbbhjf","fsgfds")

In [26]:
v5=c("best","good","average","vbbhjf","fsgfds")

In [36]:
df=data.frame(v1,v2,v3,v4,v5)

In [37]:
df

  v1 v2     v3     v4      v5
1 1  python python best    best
2 2  c      c      good    good
3 3  react  react  average average
4 5  native native vbbhjf  vbbhjf
5 6  html   html   fsgfds  fsgfds

In [38]:
new_df=data.frame(v1,v2,v3,v3)

In [39]:
new_df

  v1 v2     v3     v3.1
1 1  python python python
2 2  c      c      c
3 3  react  react  react
4 5  native native native
5 6  html   html   html

# Create a dataframe using data from a file

# Accessing rows and Columns

In [40]:
print(df[1:3,])

  v1     v2     v3      v4      v5
1  1 python python    best    best
2  2      c      c    good    good
3  3  react  react average average

In [41]:
print(df[,1:3])

  v1     v2     v3
1  1 python python
2  2      c      c
3  3  react  react
4  5 native native
5  6   html   html

In [44]:
print(df[1,2])

[1] python
Levels: c html native python react

In [45]:
print(df[1:1,2:2])

[1] python
Levels: c html native python react


# Subset

In [48]:
pd2=data.frame("Name"=c("Ujjwal","Ujjwal","Kar","Bit"),
              "Month"=c("Jan","Feb","Mar","Feb"),
              "BS"=c(140,548,456,785),
              "BP"=c(90.5,77,89,45.00)
              )

In [52]:
subset(pd2,Name="Ujjwal")

  Name   Month BS  BP
1 Ujjwal Jan   140 90.5
2 Ujjwal Feb   548 77.0
3 Kar    Mar   456 89.0
4 Bit    Feb   785 45.0

In [51]:
pd3

  Name   Month BS  BP
1 Ujjwal Jan   140 90.5
2 Ujjwal Feb   548 77.0
3 Kar    Mar   456 89.0
4 Bit    Feb   785 45.0